/* parte alta dell'header, con i link alla pagina di contatto, pagina fedeltà e punti*/
* {
  box-sizing: border-box
}

.body{
  background-color: #B9B6CB;
}

.upper_header {
  
  font-family: 'Mulish', sans-serif;
  border-radius: 5px 5px 0px 0px;
  background-color: #eaeaee;
  font-size: 9px;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;  
  padding: 0 10% 0 10%;
  
}

.fas {
  padding: 0 10px 0 10px;

}

/*stile per la riga inerente alla pagina aiuto*/
.need_help {  
  margin-right: auto;
  justify-content: flex-start;
}

/*stile per la riga inerente alla pagina punti*/
.gift_card {
  display: flex;
  padding: 0px 20px;
}

/*stile per la riga inerente alla pagina punti fedeltà*/
.loyalty_program {
  display: flex;  
  margin-left: 30px;
  margin-right: 0;
}



/*//////////////////////////////////////////////////////////////////////////////////////////////////////////*/




/*sezione dell'header principale con campo ricerca*/
.mid_header {
  font-family: 'Mulish', sans-serif;
  border-radius: 5px 5px 5px 5px;
  font-size: 9px;
  height: 90px;
  display: flex;
  flex-flow: nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 0 10% 0 10%;
}

/*nome sito*/
.mid_header .logo {  
  font-family: 'Luckiest Guy', cursive;
  font-size: 20px;
  margin-right: auto;
  justify-content: flex-start;
}

.search_container {
  display: flex;
  font-size: 0;
  margin-right: 30%;
}

/*campo ricerca*/
.mid_header .search_container input[type=text] {
  border-radius: 5px 0px 0px 5px;
  background-color: #eaeaee;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 30px;
  padding: 0 0 0 10px;
}

.mid_header .search_container button {
  border-radius: 0px 5px 5px 0px;
  background: red;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  border-bottom-style: hidden;
  height: 30px;
  width: 50px;
}

.shopping_cart{
  display: flex;  
  margin-right: 7%;  
  justify-content: flex-end;
}


.account_image {
  display: flex;  
  justify-content: flex-end;
}


/* MENU NAVIGAZIONE */

.navbar {
  width: 100%;
  height: 65px;
  background-color: #0e1936;
  overflow: auto;    
}

.menu_elements_container{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  padding: 0 10% 0 10%;
}

.menu_elements_container a {    
  font-family: 'Mulish', sans-serif;
  padding: 25px 0 20px 0;
  color: white;
  text-decoration: none;
  font-size: 12px;      
}


/*Percorso pagina*/

.root_page_section{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;  
  padding: 0 10% 0 10%;
}

.root_page_path{
  padding-top: 15px;
  padding-bottom: 20px;  
  font-family: 'Mulish', sans-serif;
  font-size: 10px;    
}

/*rating star checking style*/

.rating_container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  font-size: 10px;
  padding: 3% 10% 0 10%;

}

.rating_checked{
  color: #FFD700;
  size: 4px;

}

/*hotel name */
.hotels{
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: flex-start;
  align-items: center;
}

.hotels_name_style{
  margin-top: 0;
  margin-left: 10%;
  font-size: 25px;
  font-family: 'Mulish', 'sans-serif';
}

.hotels_flash_offer_style{
  font-size: 8px;
  color: white;
  padding: 3px 3px 3px 3px;
  font-family: 'Mulish', 'sans-serif';
  margin-left: 10px;
  background-color: red;
  border: solid;
  border-radius: 3px 3px 3px 3px;
  border-color: transparent;
}

.hotels_user_rating_style{
  margin-left: auto;
  margin-right: 10%;
  background-color: red;
  border: solid;
  border-radius: 3px 3px 3px 3px;
  border-color: transparent;
  text-align: center;
  font-size: 8px;
  padding: 3px 11px 3px 11px;
  font-family: 'Mulish', 'sans-serif';
  color: white;
}

.hotels_subs_container{
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  margin-left: 10%;
  margin-right: auto;
  /*border-style: solid;
  border-color: black;*/
}

.hotels_subs{
  font-size: 10px;
  font-family: 'Mulish', 'sans-serif';
}

/*Flex container for all hotel's details*/

.hotels_preview_container{
  display: flex;
  margin-left: 10%;
  margin-top: 10px;
 
}

/*Flex container for hotel's details section on the right*/

.hotels_data{
  display: flex;
  flex-direction: column;
}
/*Dark blue container with price details*/

.hotels_details{
  border-radius: 8px 8px 8px 8px;
  display: block;
  color:white;
  background-color: #0e1936;
  margin-left: 25px;
  height: 290px;
  width: 450px;
}

/*Dark blue container with map*/

.hotels_map{
  border-radius: 8px 8px 8px 8px;
  display: block;
  background-color: #0e1936; 
  margin-top: 20px;
  margin-left: 25px;
  height: 290px;
  width: 450px;
}

/*Flex container for hotels_details inner text-elements*/

.hotels_details_flex_1{
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Mulish', sans-serif;
}

.guest_number{
  font-size: 13px;
}

.hotels_details_flex_2{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Mulish', sans-serif;

}

.room_size{
  font-size: 13px;
}


.hotels_details_flex_3{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  font-family: 'Mulish', sans-serif;

}

.hotels_details_flex_4{
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-family: 'Mulish', sans-serif;

}

.hotels_details_price{
  font-size: 10px;
  color: white;
}

/**/

/*Other options button style*/
.button_container{
  margin-top: 20px;
  justify-content: center;
  align-self: flex-end;
  display: flex;
}

.view_other_options{
  background-color: red;
  color: white;
  font-family: 'Mulish', sans-serif;
  font-size: 15px;
  padding: 15px 125px 15px 125px;
  border-radius: 5px;
  border-color: transparent;
}

/* Material icons declaration style*/
.material-icons {
  font-family: 'Material Icons';
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons-outlined {
  font-family: 'Material Icons';
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

.material-icons_leftbox{
  font-family: 'Material Icons';
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;
  vertical-align: middle;
  float: left;
  
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}





/*Summary section*/
.summary {
  margin-top: 50px;
  width: 100%;
  height: 65px;
  background-color: white;
  overflow: auto;    
}

.summary_elements_container{
  display: flex;  
  flex-direction: row;
  align-items: center;
  justify-content: space-between;  
  padding: 0 10% 0 10%;
}

.summary_elements_container a {    
  font-family: 'Mulish', sans-serif;
  padding: 25px 0 20px 0;
  color: black;
  text-decoration: none;
  font-size: 15px;      
}

/* Summary title styling */

.summary_title_section{
  display: flex;
  margin-top: 50px;
  margin-left: 10%;
}

.summary_title{
  justify-content: flex-start;
  font-family: 'Mulish', sans-serif;
  font-size: 25px;
}

/*Service included container and data*/

.services_container{
  margin-top: 30px;
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
}

.box{
  flex: 1;
  border-radius: 5px 5px 0 0;
  background-color: white;
  height: 250px;
}

.box:first-child{
  margin-right: 40px;
}

.box_header{
  display: flex;
  border-radius: 5px 5px 0 0;
  height: 50px;
  background-color: #0e1936;
  color: white;
  align-items: center;
}

.box_header a{
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  margin-left: 20px;
}

.box_body{
  margin-top: 30px;
  margin-right: 30px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  font-family: 'Mulish', sans-serif;
}

.right1{
  margin-bottom: 30px;
  margin-left: 180px;
}

.right2{
  margin-bottom: 30px;
  margin-left: auto;
}

.left1_2{
  width: 180px;
  display: inline-block;
}

.right1_2{
  font-size: 15px;
}

.right2_2{
  display: inline-block;
  font-size: 10px;
  margin-top: 50px;
  margin-left: 33px;
}

.package_summary_details{
  display: flex;
  border-radius: 5px 5px 0 0;
  height: 50px;
  background-color: #0e1936;
  color: white;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 30px;
}

.package_summary_details a{
  font-family: 'Mulish', sans-serif;
  font-weight: bold;
  margin-left: 20px;
}



@media screen and (max-width: 500px) {
  .navbar a {
    float: none;
    display: block;
    width: 100%;
    text-align: left;
  }
}


