/*body {
    margin-left: 15%;
    margin-right: 15%;
    
    }*/



/* parte alta dell'header, con i link alla pagina di contatto, pagina fedeltà e punti*/
.upper_header{
    font-family: 'Mulish', sans-serif;
    border-radius: 5px 5px 5px 5px;
    background-color:#F8F8FF;
    font-size: 9px;
    height: 50px;
    width: 100%;
    /*padding: 5px;*/
    display: flex;
    flex-flow: row wrap;    
    align-items: center;
    justify-content: center;
    align-content: flex-start;
}
/*stile per la riga inerente alla pagina aiuto*/
.need_help{
    /*border: solid green 2px;
    background-color: greenyellow;*/
    padding-top: 15px;
    /*margin-left: 15%;    */
    width: 560px;
    
}
/*stile per la riga inerente alla pagina punti*/
.gift_card{
    /*background-color: greenyellow;
    border: solid green 2px;*/
    margin-left: 30px;
    padding-left: 20px;
    padding-top: 15px;
    width: 90px;
    
} 

/*stile per la riga inerente alla pagina punti fedeltà*/
.loyalty_program{
    /*background-color: greenyellow;
    border: solid green 2px;*/
    /*margin-right: 15%;*/
    margin-left: 40px;
    padding-left: 20px;
    padding-top: 15px;
    width: 100px;
    
}

/*sezione dell'header principale con campo ricerca*/
.mid_header{
    font-family: 'Mulish', sans-serif;
    background-color: white;    
    height: 120px;
    /*padding: 5px;*/
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;

}

/*nome sito*/
.mid_header .logo {
    margin-top: 15px;
    /*margin-left: 15%;*/
    margin-right: 5%;
    font-family: 'Luckiest Guy', cursive;
    width: 250px;
}

.mid_header .search_container{
    font-size: 0;
}

/*campo ricerca*/
.mid_header .search_container input[type=text]{    
    margin-top: 15px;
    border-radius: 5px 0px 0px 5px;
    background-color: #f8f8ff;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    padding: 15px 15px 15px 15px;
    height: 20px;
    width: 190px;
         
    
}

.mid_header .search_container button{
    border-radius: 0px 5px 5px 0px;
    background: red;    
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden;
    height: 50px;
    width: 50px;
    
}


/*icona carrello*/
.shop_icon{
    margin-top: 15px;
    /*width: 60px;
    height: 50px;*/
    margin-left: 60px;    
    padding: 16px 16px 16px 16px;
}

/*immagine profilo di collegamento alla pagina profilo*/
.user_icon{
    margin-top: 15px;
    margin-left: 50px;
    height: 40px;
    width: 40px;
    background-color: red;
    border-radius: 50%;
}

/*nome utente*/
.user_name{
    margin-top: 15px;
    margin-left: 60px;    
    font-size: 10px;
}

/*freccia menu a discesa*/
.fa-caret-down{
    margin-top: 10px;
    margin-left: 30px;
    /*margin-right: 10px; */   
}

/* menu di navigazione, stile*/
.menunav{
    list-style-type: none;
    background-color: #193B80;
    overflow: hidden; 
    display: flex;   
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    align-content: flex-start;
    /*margin-left: 15%;
    margin-right: 15%;*/
}

.menu_pages{
    margin-left: 15%;
    margin-right: 15%;
    height: 60px;
}
/*menu navigazione, stile testo*/
.menu_pages a{
    color: white;
    font-family: 'Mulish', sans-serif;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
}